<h1>Admin#index</h1>
<p>Hoo aah !!!</p>
<ul>
    <% @admins.each do |admin| %>
    <li>
        <%= link_to admin.name,admin %>
    </li>
     <% end %>
</ul>
<%= link_to "New Admin", new_admin_path%>
