<h1> Welcome to Granicus Evolution Lite ! </h1>
<p> 2022 all rights reserved. </p>

<form>
<div>
<button type="button" formaction="/accounts">Accounts</button>
</div>
<br>
<div>
<button type="button" formaction="/accounts">Subscribers</button>
</div>
<br>
<div>
<button type="button" formaction="/accounts">Bulletins</button>
</div>
<br>
</form>